$colorPrincipale : rgb(42, 144, 188) !important;
$colorSecondaire : black !important;
$colorTertiaire : white !important;

:root {
    --font-family-sans-serif: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}



html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

#Accueil {
    scroll-behavior: smooth;
}

li {
    color: $colorSecondaire;
    text-decoration: none;
    list-style: none;
    line-height: 40px;
    margin: 10px 30px 0 0;
    font-size: 17px;

}

a:hover {
    color: $colorPrincipale;
    text-decoration: underline;
}


#logo {
    display: block;
    margin-right: 20%;
    padding: 0 0 10px 0;
}

<<<<<<< HEAD
=======
#elementNavigation {
    padding-left: 12%;
}

>>>>>>> aff42c2 (Portfolio_V1.2)
.nav-container {
    // border: 5px solid;
    box-shadow: 0 2px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: $colorTertiaire;
}

.container_corps {
    height: 800px;
    width: 100%;
    background: linear-gradient(45deg, red, blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.corps {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
    color: $colorTertiaire;
}

.titre_dwwm {
    margin-bottom: 20px;
}

.titre_dwwm:hover {
    text-decoration: underline;
}

.nomPrenom {
    padding: 30px 30%;
    .prenom {
        padding: 100px;
    }
    margin-bottom: 30px;
}

#CVDownload {
    padding: 30px 45%;
}

// PAARTIE "CONCERNANT"

#imgMoi {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.titreConcernant {
    display: flex;
    justify-content: center;
}

#fondP {
 margin-top: 2.5%;   
}

#textF {
    position: absolute;
    margin-top: 3.5%;
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
#titre1 {
    font-size: 5em;
}

#sous-titre1 {
=======
#titreConcernant {
    font-size: 5em;
}

#sous-titreConcernant {
>>>>>>> aff42c2 (Portfolio_V1.2)
    font-size: 6.5em;
}

.zoneConcernant {
    height: 600px;
    margin-top: 1%;
    display: flex;
}

.zoneTexte1 {
    margin: 7%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.blockSpan {
    display: flex;
    gap: 5%;
    width: 110%;
}

.blockSpan1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.blockSpan2 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#imgMoiConcernant {
    margin: 7% 0 0 7%;
    width: 33%;
    height: 70%;
}

// PAARTIE "ÉDUCATION & ÉXPERICENCE"

.titreEE {
    display: flex;
    justify-content: center;
}

#fondEE {
    margin-top: 1%;
<<<<<<< HEAD
=======
    margin-bottom: 5%;
>>>>>>> aff42c2 (Portfolio_V1.2)
}

#textFEE {
    position: absolute;
    margin-top: 2.5%;
    width: 75%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
#titre2 {
    font-size: 5em;
}

#sous-titre2 {
=======
#titreEducationExperience {
    font-size: 5em;
}

#sous-titreEducationExperience {
>>>>>>> aff42c2 (Portfolio_V1.2)
    font-size: 6.5em;
}

#zoneTexte2 {
    display: flex;
}

// POUR LES SKILLS

.titreSkills {
    display: flex;
    justify-content: center;
<<<<<<< HEAD
=======
    margin-bottom: 7%;
>>>>>>> aff42c2 (Portfolio_V1.2)
}

#fondSkills {
    margin-top: 1%;
}

#textSkills {
    position: absolute;
    margin-top: 2.5%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
#titre3 {
    font-size: 5em;
}

#sous-titre3 {
=======
#titreSkills {
    font-size: 5em;
}

#sous-titreSkills {
>>>>>>> aff42c2 (Portfolio_V1.2)
    font-size: 6.5em;
}

#skills {
    
    #progressbarHTML {
        width: 80%;
    }
    
    #progressbarCSS {
        width: 70%;
    }
    
    #progressbarPHP {
        width: 50%;
    }
    
    #progressbarJS {
<<<<<<< HEAD
        width: 30%;
    }
    
    #progressbarBT {
        width: 75%;
    }
    
    #progressbarR {
        width: 50%;
=======
        width: 40%;
    }
    
    #progressbarBT {
        width: 40%;
    }
    
    #progressbarR {
        width: 10%;
>>>>>>> aff42c2 (Portfolio_V1.2)
    }
}

// POUR LE CONTACT

.titreContact {
    display: flex;
    justify-content: center;
<<<<<<< HEAD
=======
    margin-bottom: 5%;
>>>>>>> aff42c2 (Portfolio_V1.2)
}

#fondContact {
    margin-top: 1%;
}

#textContact {
    position: absolute;
    margin-top: 2.5%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
#titre4 {
    font-size: 5em;
}

#sous-titre4 {
=======
#titreContact {
    font-size: 5em;
}

#sous-titreContact {
>>>>>>> aff42c2 (Portfolio_V1.2)
    font-size: 6.5em;
}

#inputForme {
    font-size: 170%;
    border-radius: 10px 100px / 120px;
    border-color: blue;
}

#ipnutCommentaire {
    height: 10%;
}

